#img{
    width: 300px;
    height: auto;
}

li{
    line-height: 0%;
    margin: 10px;
    padding: 0%;

}

a{
    line-height: 0px;
}
body{
  
    padding:0%;
    font-family: 'Times New Roman', Times, serif;
}